/*body {
  background-image: url(https://i.ytimg.com/vi/XYEw0gcBtcQ/hqdefault.jpg);
  color: white;

}*/

.song {
  display: flex;
}

h1 {
  text-align: center;

}
.lyrics {
  width: 600px;
  /*text-align: center;*/
  margin: auto;
}
.media {
  margin-left: 300px;

}
.head {
  display:inline-block;
  margin: auto;
  padding: 5px;
  text-align: justify;
  width: 600px;
}
.submit {
  padding-top: 5px;
}

.login {
  text-align: center;
}

.remember {
  margin-right: 300px;
  padding-top: 5px;
}
#playlist {
  margin: 10px 0 0 300px;
  padding-left: 5px;
}
.newplay {
  text-align: center;
  margin-top: 10px;
}
