body {
  background: #1A1100;

}
* {
  /*border: 2px solid red;*/
  /*font-family: 'Permanent Marker';*/

}
.song {
  display: flex;
}

h1 {
  text-align: center;

}
.lyrics {
  width: 600px;
  background-color: blue;
  color: white;
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Permanent Marker';

}
.media {
  /*margin-left: 300px;*/

}
.head {
  display:inline-block;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 500px;
  border: 1px solid black;
  background-color: blue;
  border-radius: 10px;
  color: white;
  border: 3px solid white;


}
.submit {
  padding-top: 5px;
}

.login {
  text-align: center;
}

.remember {
  margin-right: 300px;
  padding-top: 5px;
}
#playlist {
  margin-left: 1px;
  /*padding-left: 5px;*/
  width: 820px;
  border: 3px solid white;
}
.newplay {
  text-align: center;
  margin-top: 10px;
}
.navbar {
  display: flex;
  margin: 3px;
  /*margin: 5px;*/
}
.edit {
  padding-right: 5px;


}
#formGroupExampleInput, #formGroupExampleInput2 {
  width: 250px;

}
.form-group {
  width: 250px;
}
.home {
  width: 273px;
  border: 2px solid white;
  border-radius: 3px;
  height: 410px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  background-color: #2243B6;
  color: white;

}
#homepage {
  display: flex;
  margin-top: 5px;
}

.text {
  color: white;
  width: 100px;
}
.text1 {
  color: white;
}
.text2 {
  color: blue;
}
.textshow {
  color: white;
  margin-left: 6px;
  text-align: left;
  width: 500px;
}
.image {
  text-align: center;
  width: 1100px;
  display: flex;
  margin-top: 10px;
  /*padding-bottom: 15px;*/
  border: 2px solid white;
}
h5 {
  margin-left: 66px;

}

/*song show ejs==================*/
.playtable {
  width: 800px;
  margin: 3px 0 0 100px;
  border-left: 2px solid white;

}
.homenav {
  border: 2px solid blue;
  background: white;
  width: 100%;
}
.homenav1 {
  border: 2px solid blue;
  background: white;
  width: 1100px;
  margin-bottom: 4px;
}
.addasong {
  height: 100px;

}
.playsub {
display: flex;
margin-bottom: 10px;
width: 1100px;
border: 2px solid white;
}
.footer {
  position: fixed;
  height: 275px;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: white;*/
    color: yellow;
    text-align: center;
    /*font-size: 20px;*/
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
}

.jumbotron {
  width: 800px;
  border-radius: 15px;
  margin: 50px 0 0 200px;
}
.playtable1 {
  border: 2px solid white;
  width: 1100px;
  margin-bottom: 10px;
}
.editsong {
  width: 600px;
  margin: auto;
  /*border: 3px solid black;*/
  background: blue;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.editsong1 {
  width: 350px;
  height: 200px;
  margin: auto;
  /*border: 3px solid black;*/
  background: blue;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: left;
}
.jumbotron {
  background: rgba(0,5,190, .9);
}

.header {
  margin-left: 10px;
  display: inline-flex;
  width: 500px;
}
p, {
  color: white;
  font-family: 'Caveat Brush', cursive;
}
a {
  text-decoration: none;
}
.indexall {
  margin-left: 15px;
}
ul {
  display: flex;
  text-align: left;
  text-decoration: none;
  list-style: none;
  padding-left: 5px;
}

header {
  width: 500px;
}
 input {
   margin-bottom: 5px;
   text-align: center;
   /*border-radius: 5px;*/
 }
 label {
   border-radius: 5px;
 }
 .addsong {
   width: 500px;
   height: 200px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 40px;
   /*display: flex;*/
   /*border-bottom: 2px solid white;*/
   margin-left: 5px;
   margin-top: 75px;

   /*border-radius: 10px;*/

 }

 .border {
   padding-bottom: 10px;
   padding-top: 5px;
   border-bottom: 1px solid white;
 }
 .editsubmit {
   margin-left: 90px;
   margin-top: 50px;
 }
 .logplaylist {
   padding-bottom: 10px;
   margin-top: 20px;
   background: white;
 }
 .container {
   border: 3px solid white;
   padding-bottom: 5px;
   margin-top: 5px;
   margin-bottom: 10px;
   width: 1100px;
   margin-left: 0;
   color: white;
   font-family: 'Karla', sans-serif;
 }
 .fonts {
   font-family: 'Permanent Marker';
 }
 .signin {
   width: 250px;
   margin: auto;
 }
