<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header>
        <% if (username) { %>
          Welcome, <%= username %>.<a href="/user/logout"> Log out </a>
      <%  } %>
      </header>



      <% for (let i = 0; i < song.length; i++) { %>
        <div class="song">
      <a href="/songs/<%= song[i].id %>/"><%= song[i].artist %>-<%= song[i].song%></a>
      </div>
    <% } %>

    <form action="/songs" method="post">
      Artist: <input name="artist" /><br/>
      Song: <input name="song" />

      <button type="submit">Submit</button>
    </form>
    <a href="/playlist">Back</a>
  </body>
</html>
