<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    <h1>New Playlist</h1>

    <form action="/playlist" method="post">

      <input type="text" name="url" placeholder="Image">


      <input type="text" name="submitted_by" placeholder="Name">

      <button type="submit">Create</button>
    </form>

        <a href="/playlist"><button type="button" name="button">Back</a></button>
  </body>
</html>
